language: java
jdk:
  - oraclejdk8
addons:
  sonarqube:
    organization: "randomreaper-github"
    token:
      secure: "KXcduvIVpmoDShlVnPoGyaUIlpLVG3QbcLSY8GunshJUzp9g3sW0Ee17VTg4kwDLjgZBBAKFDAsGJjv+vNje+Co29GVcNrlVymDxkmEsz0sBMAi6swG6X8EA11P5k8MCR89R6V8ZYClvgFk8PpTJndaNi7vMQyShyK7P2SIDdFnjV6rWTpCqjlqHEVDbeKbBr3L1pdXa5j3p+G7eqK7QC3MbnBvTP1MxF3WwQYXMbK0kCfyYoLNbKi/QBr5ZvPWFnBe5cofl7mEhfrcBcXhg86fx0wLaKOvA2Dpa+9Gf2NgwZx4vvSwPxotmauMfZTdWT2PWoNppFxBVKz8h2HS4Murje+W7+jYsKOXVdgsieviGoWLNNX/Z2ZM4QyNo6/ehxIEDDvW6SwkIieiWuXy/ystgsdVihJArNXwQyshkiaYYQXqtqnV2cRJEEt6Ls5YZfsI2sv7Bt5nTAzt4YHEZROMM7TNunbGXiUhnuRvuV+u3XQLcEXOvUPOjH6Qog/pNVe43zx1zmL4rWnZpZQHwTtXt6TYtzJyGR7ZxnndmlolK8GE8+o2PXD8mzWuQEuP/09y0Zp9jV6cmQEyWbDl8lmjlUaH7AvNcJgSdmMZqRQmhV/gHi4jw00caZv0zk6jfOpC7eDMD5pyMPmM02x+27I7N/PFv8KRQmMaoGM4r9Ds="

script:
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar
  - mvn test -B
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'

